* {
  box-sizing: border-box;
}
:root {
  --card-radius: 10px;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;

  padding: 0 1vw;
}

.card {
  display: grid;
  border: 1px solid lightgrey;
  border-radius: var(--card-radius);
}
.card-img-top {
  border-top-left-radius: var(--card-radius);
  border-top-right-radius: var(--card-radius);
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.card-body {
 display: grid;
  padding: 1rem;
}
.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.btn {
  color: lightyellow;
  background-color: lightseagreen;
  padding: 0.7rem 1rem;
  margin: 1rem 0;
  text-decoration: none;
  border-radius: 0.5rem;
  text-align: center;
}

@media screen and (min-width: 467px) {
  .container {
    padding: 0 15vw;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    padding: 0 20vw;
  }
}
